body{
    padding: 0;
    width: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#escape {
    z-index: 1;
    display: none; 
    position: relative;
        left: 0px;
        top: -120px;
    transition:all 0.4s ease-out;
    background-color: rgba(0, 0, 0, 0.288); 
    color: black;
    height: 80%;
    width: 50%;
    max-width: 300px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
#escape.active{
    display: block;
    position: relative;
    top: 0px;
}
#canv {
    display: none;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: -3;
    position: absolute;
        top: 0;
        left: 0;
}
